.center
  %h1 killer kilL
  %p.kerned coming soon
  %img{:src => '/img/killer_kill.png'}
  .nav.center
    %ul
      %li
        %a{:href => 'http://killerkill.bandcamp.com/', :target => '_blank'} bandcamp
        |
      %li
        %a{:href => 'https://www.facebook.com/killerkillsa', :target => '_blank'} facebook
        | 
      %li
        %a{:href => 'https://twitter.com/killerkilltx', :target => '_blank'} twitter

%script{:src => '/js/index.js', :type => 'text/javascript'}