!!!
%html
  %head
    %title Killer Kill
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon'}    
    %link{:rel => 'icon', :href => '/favicon.ico', :type => 'image/x-icon'}    
    %link{:rel => "stylesheet", :href => "/lib/messy-font.css"}
    %link{:rel => "stylesheet", :href => "/css/global.css"}
    %script{:src => '//code.jquery.com/jquery-1.11.0.min.js'}
  %body
    #page-wrap= yield
    %footer
      %p.center &copy; 2014 some fucking derd niffer